:root {
  --blob-red: rgba(200, 50, 50, 0.8);
  --blob-red-transparent: rgba(200, 50, 50, 0);
  --blob-yellow: #fed766;
  --blob-yellow-transparent: rgba(180, 180, 50, 0);
  --blob-purple: #8a4fff;
  --blob-purple-transparent: rgba(100, 220, 255, 0);
  --blob-g1-duration: 16s;
  --blob-g2-duration: 6s;
  --blob-g3-duration: 8s;
  --blob-g4-duration: 17s;
  --blob-opacity: 0.7;
  --blob-size: 50%;
  --blob-transparency: 75%;
  --blob-offset-x: 0%;
  --blob-offset-y: 0%;
}

@layer components {
  .blob {
    @apply absolute mix-blend-hard-light opacity-100;
  }

  .blob--g1 {
    width: calc(var(--blob-size) - 40%);
    height: calc(var(--blob-size) - 40%);
    background: radial-gradient(
        circle at center,
        var(--blob-red) 0,
        var(--blob-red-transparent) 50%
      )
      no-repeat;
    top: calc(50% - var(--blob-offset-y));
    left: calc(50% - var(--blob-offset-x));
    transform-origin: center center;
    animation: moveInCircle var(--blob-g1-duration) ease-in-out infinite;
  }

  .blob--g2 {
    width: calc(var(--blob-size) - 10%);
    height: calc(var(--blob-size) - 10%);
    background: radial-gradient(
        circle at center,
        var(--blob-yellow) 0,
        var(--blob-yellow-transparent) 50%
      )
      no-repeat;
    top: calc(50% - var(--blob-offset-y));
    left: calc(50% - var(--blob-offset-x));
    transform-origin: calc(50% - min(400px, 40vw));
    animation: moveInCircleReverse var(--blob-g2-duration) reverse infinite;
  }

  .blob--g3 {
    width: calc(var(--blob-size) + 10%);
    height: calc(var(--blob-size) + 10%);
    background: radial-gradient(
        circle at center,
        var(--blob-purple) 0,
        var(--blob-purple-transparent) 55%
      )
      no-repeat;
    top: 0;
    left: 10%;
    transform-origin: calc(50% + min(400px, 40vw));
    animation: moveDiagonal var(--blob-g3-duration) ease infinite;
  }

  .blob--g4 {
    width: var(--blob-size);
    height: var(--blob-size);
    background: radial-gradient(
        circle at center,
        var(--blob-red) 0,
        var(--blob-red-transparent) var(--blob-transparency)
      )
      no-repeat;
    top: calc(50% - var(--blob-offset-y));
    left: calc(50% - var(--blob-offset-x));
    transform-origin: calc(50% - min(200px, 25vw));
    animation: moveHorizontal var(--blob-g4-duration) ease infinite;
    opacity: var(--blob-opacity);
  }
}
