:root {
  --blob-red: rgba(200, 50, 50, 0.8);
  --blob-red-transparent: rgba(200, 50, 50, 50);
  --blob-yellow:rgba(239, 241, 47, 0.8);
  --blob-yellow-transparent: rgba(180, 180, 50, 50);
  --blob-purple: rgba(138, 79, 255, 0.8);
  --blob-purple-transparent: rgba(100, 220, 255, 50);
  --blob-orbit-radius: 100px;
  --blob-opacity: 100;
  --blob-size: 20%;
  --blob-transparency: 50%;
}

@layer components {
  .blob-orbit {
    position: absolute;
    inset: 0;
  }

  .blob {
    @apply absolute mix-blend-hard-light opacity-100;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    overflow: hidden;
    animation: orbitClockwise var(--blob-orbit-duration) linear infinite;
    animation-delay: var(--blob-orbit-delay);
  }

  .blob--g1 {
    --blob-orbit-angle: 0deg;
    --blob-orbit-duration: 10s;
    --blob-orbit-delay: 0s;
    width: calc(var(--blob-size) - 15% );
    height: calc(var(--blob-size) - 15% );
    background: radial-gradient(
        circle at center,
        var(--blob-red) 0,
        var(--blob-red-transparent) 100%
      )
      no-repeat;
    opacity: var(--blob-opacity);
  }

  .blob--g2 {
    --blob-orbit-angle: 90deg;
    --blob-orbit-duration: 10.5s;
    --blob-orbit-delay: -1s;
    width: calc(var(--blob-size) - 5% );
    height: calc(var(--blob-size) - 5% );
    background: radial-gradient(
        circle at center,
        var(--blob-yellow) 0,
        var(--blob-yellow-transparent) 100%
      )
      no-repeat;
    opacity: var(--blob-opacity);
  }

  .blob--g3 {
    --blob-orbit-angle: 180deg;
    --blob-orbit-duration: 11s;
    --blob-orbit-delay: -1.5s;
    width: calc(var(--blob-size) );
    height: calc(var(--blob-size) );
    background: radial-gradient(
        circle at center,
        var(--blob-purple) 0,
        var(--blob-purple-transparent) 100%
      )
      no-repeat;
    opacity: var(--blob-opacity);
  }

  .blob--g4 {
    --blob-orbit-angle: 270deg;
    --blob-orbit-duration: 4s;
    --blob-orbit-delay: -2s;
    width: calc(var(--blob-size) -  15%);
    height: calc(var(--blob-size) - 15%);
    background: radial-gradient(
        circle at center,
        var(--blob-yellow) 0,
        var(--blob-yellow-transparent) var(--blob-transparency)
      )
      no-repeat;
    opacity: var(--blob-opacity);
  }
}

@media (max-width: 767px) {
  :root {
    --blob-orbit-radius: 5px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .blob {
    animation: none;
    transform: translate(-50%, -50%) rotate(var(--blob-orbit-angle))
      translateY(calc(-1 * var(--blob-orbit-radius)))
      rotate(calc(-1 * var(--blob-orbit-angle)));
  }
}
